<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>William Rueger (furryfixer)</vendor>
  <icon_name>system-file-manager</icon_name>

  <action id="gksudo2.gk.env.cmd">
    <description>Allow rule for gksudo2(pkexec gk-env-cmd)</description>
    <message>Authentication is required to run gksudo2 with this environment</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/tmp/gk/gk-env-cmd</annotate>
  </action>

</policyconfig>
